<div class="row">
  <div class="col-md-6">
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employeeService.selectedEmployee.id">
      <input type="hidden" name="companyId" #companyId="ngModel" [(ngModel)]="employeeService.selectedEmployee.companyId">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="employeeService.selectedEmployee.firstName" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="employeeService.selectedEmployee.lastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" #email="ngModel" [(ngModel)]="employeeService.selectedEmployee.email" placeholder="Email" required [pattern]="emailRegex">
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input class="form-control" name="phoneNo" #phoneNo="ngModel" [(ngModel)]="employeeService.selectedEmployee.phoneNo" placeholder="Phone Number" [pattern]="phoneRegex" maxlength="10">
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
        <i class="fa fa-floppy-o"></i>
        Submit</button>
      <button class="btn btn-default" type="button" (click)="resetForm()">
        <i class="fa fa-repeat"></i>
        Reset</button>
    </div>
    </form>
  </div>
  <div class="col-md-6">
    <h6 *ngIf="!empMessage" class="text-center">Registered Employees</h6><br/>
    <h6 *ngIf="empMessage" class="text-center alert alert-danger" role="alert">{{ empMessage }}</h6><br/>
    <table class="table table-sm table-hover">
      <tr *ngFor="let employee of employeeService.employees">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>
            <a class="btn" (click)="onEdit(employee)">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn" (click)="onDelete(employee.id)">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
      </tr>
    </table>
  </div>
</div>
